[2020-03-06 22:04] duongnt opened #24 "403 Forbidden issue"
I tried to install in our GKE cluster and got this error:

[code]

I did some research and apparently the kubernetes client jar is too old: https://stackoverflow.com/questions/57643079/kubernetes-watchconnectionmanager-exec-failure-http-403

I followed the suggestions there and replace the jars, however after that I got this:
[code]

[2020-03-09 09:48] jahstreet commented on #24
Hi @duongnt , thank you for creating the issue.
You're right, the root cause of the error you've seen is the old version of the [fabric8 Java Kubernetes Client](https://github.com/fabric8io/kubernetes-client). Please refer the [compatibility matrix](https://github.com/fabric8io/kubernetes-client#compatibility-matrix) and note that you should upgrade client jars on both Livy and Spark classpaths. A

[2020-03-31 19:23] kyprifog commented on #24
I received the same error.   This seems related:  https://github.com/kubernetes/kubernetes/issues/82131

Solution suggested there seems to be upgrading to spark 2.4.5

[2020-04-01 08:14] jahstreet commented on #24
@kyprifog , 403 Forbidden - yes, Spark 2.4.5 depends on fabric8 Kubernetes client `4.6.1` which is compatible with Kubernetes API `1.12.0 - 1.15.3`. If you running these versions then upgrading Spark should work for you.
Also current Livy on Kubernetes build depends on older client version and needs to be upgraded as well (I have it on my nearest roadmap).
Strange to me that @duongnt gets `/opt/en

[2020-04-11 02:33] cyliu0204 opened #26 "how the livy spark driver start spark executor pod"
hi:
   I have installed the chart following your guide, but the spark application started by spark magic  seems only contains a ivy-spark driver pod , how can I get the executor pod run in k8s throght livy-spark driver pod ?

[2020-04-13 10:53] jahstreet commented on #26
Have you installed it locally on Minikube-like environment? If so there might be an issue of not having enough CPU/MEM to launch Executors. Can you share you Spark Driver Pod logs to check that?
Also tomorrow I will attach more details on how to launch the session from Jupyter and debug it.

[2020-04-14 03:34] cyliu0204 commented on #26
I have checked my k8s environment, it was really a not having enough resouces issue, and I have solved it. But I am facing following issues:

1. when I start pyspark kernel, the logs show like this:

`20/04/14 03:23:09 INFO BlockManagerMasterEndpoint: Registering block manager remotesparkmagics-sample-1586834577660-driver-svc.jhub.svc:7079 with 413.9 MB RAM, BlockManagerId(driver, remotesparkmagic

[2020-04-14 12:34] jahstreet commented on #26
1. I assume you used your own image for Spark Pods, isn't it? Basically due to the logs I see that probably your Spark image doesn't have `python` in PATH. Please share the steps you did to install the chart with the list of customizations made including Dockerfile so I could reproduce your issue and come up with the solution. If you follow [this guide](https://github.com/jahstreet/spark-on-kubern

[2020-04-20 10:30] cyliu0204 commented on #26
hi:
   Beacause of the 403 issue, I build the Spark 2.4.5 version image based on your docker repo, and it looks like this:
 [https://github.com/cyliu0204/spark-on-k8s-docker/blob/master/spark-base/2.4.5_2.12-without-hadoop/Dockerfile](url)

when I start the pyspark driver pod ,  the log looks like this:

`
20/04/20 07:26:32 INFO KubernetesClusterSchedulerBackend: SchedulerBackend is ready for sche

[2020-04-20 10:39] jahstreet commented on #26
Ok, I see that you do not have Livy installed in the image. Also Scala 2.12 may have compatibility issues. Let me prepare the guide on Docker images customization for you. Will try to get to it till the end of the week.

[2020-04-21 02:10] cyliu0204 commented on #26
Do you mean the livy-spark image which have livy installed base on spark image？The Dockerfile  is spark_base image, I also build the livy-spark image , it looks like this [https://github.com/cyliu0204/spark-on-k8s-docker/blob/master/livy-spark/0.7.0-incubating-spark_2.4.5_2.12-hadoop_3.2.1/Dockerfile](url);

the log info seems link to a version issues, have you viewed this pr?  https://github.com/

[2020-04-23 14:46] jahstreet commented on #26
Hi @cyliu0204 , I've updated the Docker image build for Spark 2.4.5 and updated the Helm charts accordingly. If you need the customizations please follow the steps:
- Build [spark](https://github.com/jahstreet/spark-on-kubernetes-docker/tree/master/spark/2.4.5_2.11-hadoop_3.1.0_cloud) image (base)
- Build [livy-spark](https://github.com/jahstreet/spark-on-kubernetes-docker/tree/master/livy-spark/0

[2020-05-01 18:23] jahstreet commented on #26
Hi @cyliu0204, have your issue been resolved?

[2020-05-08 02:46] duongnt opened #28 "Set tolerations for spark drivers and executors"
First of all, thank you @jahstreet for your amazing work here! Hope your diffs will be merged into livy soon.

In our usage, we recently have a need to use a dedicated nodepool for spark drivers and executors pods. We have this node pool set up with labels and taints, however we don't know how to add tolerations to the drivers and executors pods from livy. Looks like with spark 3.0.0 this is possi

[2020-05-08 06:11] cyliu0204 commented on #26
yes, thank you for your help sincerely

[2020-05-08 06:12] #26 closed, assigned to jahstreet

[2020-05-10 10:16] jahstreet commented on #28
Hi @duongnt , thank you for being interested in this project.
Yes, my latest images support only Spark `v2.4.5` which in order doesn't have the config options you're interested in. Also Apache Livy itself is not yet ready for Spark 3 since it is built with Scala 2.11 (Spark 3 min Scala version is 2.12, which is not compatible). The Apache Livy support for Spark 3 is going to be introduced in [this

[2020-05-10 16:30] duongnt commented on #28
Thanks @jahstreet. I found the node_selector option, but that alone doesn't prevent other workloads to jump on that nodepool. I guess I'll have to find other ways to do this while waiting for that PR to be merged.

[2020-05-10 19:27] jahstreet commented on #28
Right, also you can always patch the required part of Spark Kubernetes RM, but I don't think it is smth acceptable for your case. Please share your experience if you manage to solve that.

[2020-05-11 03:02] duongnt commented on #28
I managed to solve this with an unexpected tool: argo-events.

Basically I need to watch for pod creation events for pod with name prefixed with `livy-session-`, which are unschedulable because we set the node selector before, and then add tolerations. We could've done this with a MutatingAdmissionWebhook, but I'd rather write a couple lines of YAML than writing a new webhook in go. argo-events al

[2020-05-11 11:52] jahstreet commented on #28
Wow, sounds really cool. Thank you for sharing! 🚀

[2020-05-11 23:28] duongnt commented on #28
This is the argo-events yaml i needed to write:
[code]

[2020-05-12 00:01] marcjimz opened #30 "Authorization on REST API Header"
Would like to enable basic authorization that was configurable at run time. When deploying this a multi-tenant model (ie. each tenant has their own Livy orchestration), we need to secure the authentications made otherwise the Livy API is open to the entire cluster.

One way for doing this is LDAP but wonder if there is a supportable way to incorporate either JWT token or Basic Auth.

Example:

imp

[2020-05-12 11:47] jahstreet commented on #30
Hi @marcjimz , thx for sharing more details. I see that it can be solved in 2 ways depending on your needs:
- [OAuth2 proxy](https://github.com/helm/charts/tree/master/stable/oauth2-proxy) included in [cluster-base](https://github.com/jahstreet/spark-on-kubernetes-helm/tree/master/charts/cluster-base) chart
- Basic auth configs for Livy Nginx Ingress:
  - Livy auth: https://github.com/jahstreet/sp

[2020-05-12 13:19] marcjimz commented on #30
Hi - neither of those would work since a pod that runs inside the cluster can still access the headless service.

I think I will commit the basic auth class to the project and let that read from the configs. I suspect the LDAP auth class is the similar interface it is expecting which I should be able to replicate. Will see if I can get that to work and commit back here.

[2020-05-16 12:41] jahstreet commented on #30
Right, good point. Nice to see people contributing this area, would be nice to follow-up on your progress.

[2020-06-26 20:57] duongnt opened #33 "Support Spark 3.0.0"
@jahstreet Just to put this under your radar as Spark 3.0.0 has just been released, with I guess better support for K8s.

https://spark.apache.org/news/spark-3-0-0-released.html

[2020-06-26 21:02] jahstreet commented on #33
Hi @duongnt , thanks you for putting it on the table. I'm tracking it as well and excited to try it out. 1 more blocker that we have for this repo charts is the release of Livy Spark 3 support https://github.com/apache/incubator-livy/pull/289 (scala 2.12 in particular). Once we have it - we can go. In the meantime I have plans on playing with it to see if it works.

[2020-06-30 07:35] pdambrauskas opened #34 "Liveness & rediness checks timeout on Livy"
Currently liveness is being checked on `/batches` endpoint:
https://github.com/jahstreet/spark-on-kubernetes-helm/blob/a1fd2ac19580feb0d9469c1d7cadd8630710ac13/charts/livy/templates/statefulset.yaml#L33

When there is a bigger number of batches, these check timeout occasionally:
[code]

Would it be ok to add `?size=1` to limit response size, or at least to have an option to disable these checks on

[2020-07-01 07:48] jahstreet commented on #34
Good point, thanks for the mentioning. Will update the chart.

[2020-07-07 19:07] kyprifog opened #35 "Notebook connectivity issue"
Can't tell if this is a sparkmagics issue.   I start livy using the helm chart attached and ran the `kubectl exec` example and it ran fine. Then I started the helm chart jupyter-sparkmagic after changing the values.yaml to have:
[code]
which is the endpoint I think needs to be referenced here (i also tried livyheadless.livy:8998, livy.livy:8998, and the corresponding cluster IP for both of those s

[2020-07-08 15:14] kyprifog commented on #35
Some updates debugging manual connection to livy have sent me down a rabbit hole (sparkmagic didn't seem to have any easy ways to do so):

[code]

So the session will never leave starting state.  Going into kubernetes log for session I found:

[code]

which looks like it was returning an instances of this error:

https://stackoverflow.com/questions/57887672/expected-http-101-response-but-was-403-f

[2020-07-08 16:12] kyprifog commented on #35
A combination of this PR:  https://github.com/jahstreet/spark-on-kubernetes-helm/pull/36  with making sure I deployed the jupyter in the same "livy" namespace seems to allow me to submit jobs manually through Livy api, but I am still having trouble getting sparkmagics to work, getting the same error.

[2020-07-08 16:19] kyprifog commented on #35
Following the readme more closely in jupyter-sparkmagic chart and making sure that I deploy it to the jupyter-sparkmagic namespace seems to have resolved the issue.

[2020-07-08 16:19] #35 closed, assigned to jahstreet

[2020-07-09 20:53] jahstreet commented on #35
Haven't yet went through it, cool that you've managed to solve it on your own already. Thx for the PR and extensive debugging. I appreciate your contribution @kyprifog .

[2020-07-10 15:34] kyprifog commented on #35
No problem, the livy image works great thanks for putting it together.   FTR, I am using just a standard notebook image derived from the docker stacks implementation with sparkmagic installed, not the jupyter helm chart you provided and am able to submit jobs to livy no problem which is great! I thought there was more to your jupyter notebook image but after looking at it looks like its very simil

[2020-07-14 16:31] duongnt commented on #33
@jahstreet Looks like https://github.com/apache/incubator-livy/pull/289 has just landed.

[2020-08-14 17:54] jahstreet commented on #35
That is true indeed, the initial idea was to keep it so for easy upgrades if necessary. Probably in the future it can be derived from the fork + patch branch to make the relationships more explicit.

[2020-08-14 18:51] #24 closed, assigned to nobody

[2020-08-14 18:51] #28 closed, assigned to nobody

[2020-08-15 11:25] jahstreet commented on #33
@duongnt , on it now.

[2020-08-17 07:55] hynix opened #38 "jupyter-sparkmagic chart uses k8s APIs Removed In 1.16"
Cannot install jupyter-sparkmagic 1.0.0 chart on k8s 1.16+
Error occurred: **no matches for kind "Deployment" in version "apps/v1beta2"**

https://github.com/jahstreet/spark-on-kubernetes-helm/blob/96f2521b0e20f30fe2dcede5c81239698bd01fb0/charts/jupyter-sparkmagic/templates/deployment.yaml#L2

Deprecated APIs Removed In 1.16: https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

[2020-08-18 06:23] jahstreet commented on #38
Thanks for reporting the issue.
`1.0.0` charts are built for Spark v2.4.5- (which depends on fabric8 Java Kubernetes client 4.6.1 compatible with K8s API v1.15.3-). I'm preparing charts `2.0.0` for Spark 3.x, which are going to address such issues and extend the supported K8s API versions.

[2020-08-23 20:20] jahstreet commented on #33
Please check the progress in #39 .

[2020-08-23 20:21] jahstreet commented on #34
Will be fixed in #39 . Proposed solution is to call `/version` endpoint instead.

[2020-08-23 20:22] jahstreet commented on #30
Hi @marcjimz , have you had a chance to implement the solution proposed above? Can you share the link to the patch sources?

[2020-08-23 20:23] jahstreet commented on #38
Going to be solved in #39 .

[2020-08-24 01:57] huangwei0413 opened #40 "request for Spark Job-Server"
Is it possible to integrate spark job-server as an alternative? I believe most existing clients use spark job-server rather than Livy. I am expecting your reply, thank you.

[2020-08-24 16:11] jahstreet commented on #40
Hi. I think it is possible, the concepts are similar. The Livy has been chosen to make the migration from Azure HDInsight on my project smoother. Also it's almost out of box integrations with Jupyter work like magic.
This could be a good alternative, but I do not have in plans supporting it yet (requires quite some research and coding).

[2020-09-25 05:43] KamalGalrani opened #41 "Unable to create spark session"
I was able to setup Livy using the helm chart, but when I create a session it fails. I am using the default configuration with minikube

Create session payload
[code]
[code]

[2020-09-25 10:30] jahstreet commented on #41
I believe this relates to the K8s API version incompatibility with the K8s Client. Which K8s API version you use with the Minikube?

[2020-09-25 11:57] KamalGalrani commented on #41
[code]

Does this give the K8s API version

Also, in the other thread you mentioned about driver logs and networking issue. Could you please help me with extracting driver log if the above doesn't solve the issue. And can you elaborate what do you mean by networking issue?

[2020-09-25 12:15] jahstreet commented on #41
First about this one: current Helm chart runs Spark 2.4.5 and Livy with fabric8 Java K8s client 4.6.1 which is limited by K8s API 1.15.3. Your K8s API version on Minikube is `Major:"1", Minor:"19"` or 1.19. To run the desired K8s API version with Minikube you can execute: `minikube start --kubernetes-version=1.15.0 ...`.
I'm currently working on Spark 3 support which is going to ease this limitati

[2020-09-25 12:31] KamalGalrani commented on #41
1. I'll downgrade K8s. Thanks
2. I'll include these logs if downgrading doesn't help
3. I don't think network is an issue here because everything is running on a single machine for testing with docker driver for minikube

[2020-09-25 13:05] jahstreet commented on #41
Ahh, I see, then let's wait for the logs... Hope you get it solved!

[2020-09-25 17:59] KamalGalrani commented on #41
Thanks
Downgrading K8s worked

[2020-09-25 17:59] #41 closed, assigned to nobody

[2020-10-05 19:33] #33 closed, assigned to jahstreet

[2020-10-05 19:33] #34 closed, assigned to jahstreet

[2020-10-05 19:33] #38 closed, assigned to nobody

[2020-10-06 06:19] pdambrauskas commented on #38
@jahstreet, have you decided not to support `jupiter` anymore? I see you released new versions for other charts, but jupiter-sparkmagic is missing.

[2020-10-06 11:38] jahstreet commented on #38
@pdambrauskas , yeah, I've dropped it since spark-cluster contains the JupyterHub, in favour of which I would love to continue support. Also JupyterHub seems to be better alternative to standalone Jupyter on K8s.

[2020-10-14 16:39] MBtech opened #44 "Error when running with a modified docker image"
It might be a naive question but I have modified the livy docker image to create a new one using the following
[code]
and I replaced the image repository in the `values.yaml` of the livy chart as well as the value for `LIVY_SPARK_KUBERNETES_CONTAINER_IMAGE`.

But now if I run the example pi spark example I get the following error in the job logs:
[code]

Any idea why? Everything ran just fine with

[2020-10-15 13:32] jahstreet commented on #44
Hi, looks familiar to what I've seen before. I'll try it out on my end and let you know on the progress.

[2020-10-15 13:39] MBtech commented on #44
Thanks. I did get around the problem by simply providing the python dependencies using the pyfile argument in the batch create for livy but it would be useful to know why it happens in this particular case, just for the sake of knowledge.

[2020-10-17 18:38] rdhara opened #45 "Getting 503 error when accessing Livy"
Hello,

I'm working through the [full instructions](https://github.com/JahstreetOrg/spark-on-kubernetes-helm/blob/master/DOCUMENTATION.md) and am running into an issue accessing Livy. My k8s control plane is managed by AWS EKS and I've configured a Route 53 CNAME record for `k8s.mydomain.io` to point to the Classic Load Balancer that gets spun up by AWS when I install the `cluster-base` config. Be

[2020-10-22 08:54] AndreasDeCrinis opened #46 "File file:/tmp/history-server does not exist when configuring history server"
Hi,

we are strugling around with configuring the history server in livy using these env vars:
[code]
after we trigger a job, we see this error message in the driver container:
`Exception in thread "main" java.io.FileNotFoundException: File file:/tmp/history-server does not exist`

does anybody have a clue what we are doing wrong?

BR
Andreas

[2020-10-22 13:27] KnutFr opened #47 "Deploying new profile to existing k8s Hub cluster with SparkMagic"
Hi,

First, thanks. for your amazing job !
I have deployed your charts in cluster mode with livy/jupyter on a single k8s cluster and everything works great.
But here's my setup :
I have an already existing JupyterHub instance (deployed with https://github.com/jupyterhub/zero-to-jupyterhub-k8s) that already have some profile.
For example here the sample of the actual datascientist profile that we h

[2020-10-26 10:10] KnutFr commented on #45
Hi,

I encountered the same error, in my case I have just added this to the custom-values-local.yaml file :

[code]

Looks like the backend of Livy's ingress mismatch the pod that running. So by forcing it to match things works again.

[2020-10-27 04:19] rdhara commented on #45
@KnutFr Hmm interesting will give this a try, thanks!

[2020-10-30 13:38] maciekdude commented on #44
Yo, was just struggling with this issue.
Basically, you modified the wrong image (it's `livy`) with wrong `entrypoint.sh` that just runs `livy server`. You need to modify image that will be used by driver/executors
It breaks here
- https://github.com/JahstreetOrg/spark-on-kubernetes-docker/blob/56cd4bac4063259af79210e0a1703a9dc622760e/livy/0.8.0-incubating-spark_3.0.1_2.12-hadoop_3.2.0_cloud/entry

[2020-11-01 17:43] jahstreet commented on #47
Hi. Please find the steps I used to reproduce your issue below.

1. Build custom Jupyter Docker image for using with the new JupyterHub profile. Diff with https://github.com/JahstreetOrg/spark-on-kubernetes-docker/tree/v3.0.1-hadoop-3.2.0-cloud :

[code]

2. Modify `spark-cluster` chart values.yaml:

spark-on-kubernetes-helm/charts/spark-cluster/values.yaml:
[code]

3. Install cluster following sp

[2020-11-01 17:50] jahstreet commented on #44
Indeed, thx @maciekdude . @MBtech, please use:
- `sasnouskikh/livy:<version>` - to run Livy server containers
- `sasnouskikh/livy-spark:<version>` - to run Spark driver and executor containers with Livy support

[2020-11-01 18:07] jahstreet commented on #45
@rdhara , currently (3.0.X version) Livy K8s service name is already overriden in `spark-cluster` Helm chart values.yaml:
[code]

So you shouldn't be required to override it to make the `livy-server` discoverable.

@rdhara , could you please also share Spark Driver Pod logs (if available)? Please also check if Driver and Executor pods have been created in K8s cluster to be sure that it is Livy-to-

[2020-11-01 18:27] jahstreet commented on #46
Hi, the error you observe signals that there are not such file/directory in your Spark HS container. To make it work by default you should create the NFS PVC with name eg. `nfs-pvc` in the Spark HS namespace and configure the `spark-cluster` Helm chart with the following values:
[code]
Then you do not need to override `LIVY_SPARK_EVENT1LOG_DIR` to make it work.

Alternatively you need to provide t

[2020-11-02 06:41] #44 closed, assigned to nobody

[2020-11-02 10:08] maciekdude commented on #46
Just create it in the underlying image ;)
[code]

[2020-11-02 12:10] jahstreet commented on #46
@maciekdude , then how will Spark containers write history logs to it? You need to have the shared directory to make it work.

[2020-11-02 13:13] maciekdude commented on #46
Executors do not write logs there even on shared FS like hdfs/s3. It's only driver, so if you have problem with the spawning jobs you can always disable evenlogin, get some share storage like s3 or just create this folder ;)

[2020-11-02 14:06] jahstreet commented on #46
If this is the way you are ok to go with then I have no arguments ;)

[2020-11-03 05:43] rdhara commented on #45
Thank you for your response @jahstreet - by the way this repo is a fantastic resource!
The driver never exits the pending state so there are no logs. I also don't see any executor pods.

Here are my steps:

1. Create an EKS cluster using k8s version 1.18. The cluster's endpoint access is set to "Public and private" and there is one node group with one t3.large instance. Configure `kubectl` to poin

[2020-11-03 09:10] jahstreet commented on #45
@rdhara , I guess your cluster has RBAC enabled. Could you please share Livy logs to double check?

In case this is true then you also need to configure Livy and Spark Driver `ServiceAccount`s with the appropriate privileges. To do that automatically it should be enough to provide `--set livy.rbac.create=true` when installing `spark-cluster`. The examples of the RBAC setup can be found in https://

[2020-11-03 18:01] rdhara commented on #45
@jahstreet I tried adding the RBAC line but the result is the same - I get a timeout after 300 seconds. The driver again never exists `Pending` so there are no logs, but here are the livy logs:
[code]

I should note this looks different from the livy log I had without the RBAC line - the Pastebin is linked in my original post above. So seems it had some effect?

[2020-11-04 00:02] jahstreet commented on #45
Do you mean that there are no any Driver pods or there is a Driver pod but it is always pending (I assume the latter)?

Due to AWS docs: t3.large has `2 vCPU 8.0 G Mem`. Just to compare, I usually launch local Minikube for testing with `12 CPU and 14 G Mem`, otherwise there might me lack of resources to launch 1 Driver + X Executor job. In case my assumption that `there is a Driver pod but it is a

[2020-11-04 13:14] MBtech opened #48 "Missing spark history server docker image for Spark 3.0.1"
The YAML file `spark-on-kubernetes-helm/charts/spark-cluster/values.yaml` uses the image with tag `3.0.1_2.12-hadoop_3.2.0_cloud` but that image is not present in the docker hub repo. Latest image there is with tag `3.0.0_2.12-hadoop_3.2.0_cloud`.

I think you probably forgot to push the docker image after building it.

[2020-11-04 17:55] MBtech commented on #46
I am running into a similar issue. I have created an NFS based PV and PVC and added the following corresponding settings for the historyserver charge:
[code]

Which configurations do I need to change for the livy chart?
I have changed these two:
[code]
Which other configurations do I need to change for the livy chart? Persistence configurations?

[2020-11-05 02:35] MBtech commented on #46
Figured it out. I needed to configure the Kubernetes Volumes configuration properties (in the request for the livy batch job) for Spark driver and executors as mentioned [here](https://spark.apache.org/docs/latest/running-on-kubernetes.html#using-kubernetes-volumes).

[2020-11-05 10:59] jahstreet commented on #48
Indeed, apologize 🤦 . BTW it lives here: https://github.com/JahstreetOrg/spark-history-server-docker/tree/spark-3.0.0 . Will push today.

[2020-11-05 12:28] jahstreet commented on #48
Done.

[2020-11-06 01:37] MBtech commented on #48
Yeah just wanted to let you know.

[2020-11-06 01:37] #48 closed, assigned to nobody

[2020-11-08 00:55] rdhara commented on #45
@jahstreet That indeed was the problem. I used a cluster of 2 c5.2xl instances and was able to get the charts working. Thanks a lot for the help! Let me know if there are plans to migrate to the new Spark 3.0 native Prometheus setup, I can try helping with that.

[2020-11-08 00:55] #45 closed, assigned to nobody

[2020-11-14 15:49] fsanaulla opened #49 "k8s v1.19.0 support"
Hey, thank you for a great job!

It would be great to add support for the latest k8s.

PR: #50

Thank you!

[2020-11-19 12:27] fsanaulla commented on #49
Details in #50

[2020-11-19 12:27] #49 closed, assigned to nobody

[2020-12-07 09:53] rakeshramakrishnan opened #51 "Upgrade kubeVersion requirement on Livy helm charts"
Tried installing the latest helm charts ([commit hash](https://github.com/JahstreetOrg/spark-on-kubernetes-helm/commit/8c23eb39f65173e7411a422c630c471dc208b327))

Got the following error:
[code]

Can see that kubeVersion requirements have been upgraded for spark-cluster. Can we upgrade the same for Livy too?

[2020-12-07 14:54] jahstreet commented on #51
Right. Thank you for catching. In the meantime you can patch it locally and create a fix PR. I can get to it in the coming days/weeks and push the fix otherwise.

[2020-12-08 14:00] rakeshramakrishnan commented on #51
Added a PR [here](https://github.com/JahstreetOrg/spark-on-kubernetes-helm/pull/52)

[2020-12-14 09:45] #47 closed, assigned to nobody

[2020-12-16 22:30] daddydrac opened #53 "Ques: Does this install spark"
Does the helm chart for Livy deploy Spark? If not, how do we configure Spark helm chart and Livy helm chart so they can "talk" to each other/submit jobs via REST services?

[2020-12-17 06:39] jahstreet commented on #53
Hi @joehoeller , thx for the question.
Basically there are 2 Livy job submission modes: Batch and Interactive.
For Batch mode the communication flow is the following:
1. Livy talks to Kubernetes API to request Spark Driver
2. Spark Driver talks to Kubernetes API to request Spark Executors and resolves them once created to communicate tasks and track the status/progress
3. Livy resolves Spark Drive

[2020-12-17 08:59] daddydrac commented on #53
Wow, that’s a really complete answer, thank you for that.

So, that leads me to my next 2 Ques:

How can I expose the necessary nodePorts to expose the UI?

Is it possible to communicate RESTfully and send jobs via notebook?

On Thu, Dec 17, 2020 at 12:39 AM Aliaksandr Sasnouskikh <
notifications@github.com> wrote:

[2020-12-17 09:06] jahstreet commented on #53
Awesome, happy to help.

To answer the rest 2 questions I would suggest you to give a try to [this step-by-step installation guide](https://github.com/JahstreetOrg/spark-on-kubernetes-helm/blob/master/DOCUMENTATION.md) on Minikube. This will show you how to spin up the required components and have JupyterHub with Jupyter notebooks per user exposed externally from the Kubernetes cluster as well as

[2020-12-17 14:34] andreas-repp commented on #51
@jahstreet: Is there a reason to limit the kubernetes version to 1.18.x? My docker desktop has a kubernetes version 1.19 and I'm wondering if or what is the reason behind this limit. Furthermore, we plan to upgrade our cluster to 1.19 and thus it will become an issue there as well. I haven't found such a limitation for spark itself yet.

Thanks for your help!

[2020-12-17 18:46] kyprifog opened #54 "Upgrade to 2.0.1 issues with S3"
On upgrading to 2.0.1 I can no longer leverage hadoop-aws and get this somewhat cryptic error:

[code]

querying this public bucket:
[code]

[code]

How do I configure hadoop-aws like version 1.0.0?  This seemed to be working then.

[2020-12-18 00:31] kyprifog commented on #54
@jahstreet reopening because this is still an issue for me.

[2020-12-19 07:00] jahstreet commented on #51
Hi @andreas-eberle , indeed there is a reason. Please check [this](https://github.com/JahstreetOrg/spark-on-kubernetes-helm/pull/50#issuecomment-727575285) comment for the details.
To play with the charts locally I would suggest you to install Minikube using which you can control the API version of the local Kubernetes cluster. Please refer the [guide](https://github.com/JahstreetOrg/spark-on-kube

[2020-12-21 21:22] kyprifog commented on #54
@jahstreet Do you have any ideas on this error?  I verified that hadoop-aws-3.2.0 was indeed included in the livy image that you had built, but I am having a really tough time diagnosing this particular error.  Are you able to show s3 access from the most recent version?

[2020-12-21 22:04] kyprifog commented on #54
Here is the scala version of the error:
[code]

[2020-12-22 01:24] kyprifog commented on #54
If I go in and manually add the AWS keys to the environ it seems to fix it so the issue appears to be some disconnect  with how hadoop-aws and spark 3.0 are supposed to forward keys.

[2020-12-22 01:34] kyprifog commented on #54
This says that `spark-submit` normally is responsible for forwarding the keys so this makes me think that the corresponding change needs to happen on the livy side:  https://spark.apache.org/docs/latest/cloud-integration.html#authenticating

[2020-12-22 02:37] kyprifog commented on #54
I may have found a work around by just setting:
[code]
in the spark conf

[2020-12-22 06:19] KamalGalrani opened #55 "K8s API error"
Unable to install on AWS EKS. It is working locally with minikube

[code]

[2020-12-22 06:22] jahstreet commented on #55
This PR will solve that: https://github.com/JahstreetOrg/spark-on-kubernetes-helm/pull/52 . ETA - this weekend. Please follow the updates.

[2020-12-22 21:24] kyprifog commented on #54
@jahstreet do you have any idea how I would set these environment variables on the driver with the current set up?   I can set up the executor environment using the above variables, but I can't seem to figure out an easy way to set up the environment variables on the driver, which would also be needed.

[2020-12-23 18:31] kyprifog commented on #54
It turns out after much digging that forwarding via the spark conf in the usual way actually works as expected:
[code]
There were a couple of other confounding issues causing it to error in my case.   Closing issue.

[2020-12-23 18:31] #54 closed, assigned to nobody

[2021-01-05 11:37] BenMizrahiPlarium opened #59 "maven packages spark.jars.packages doesn't loaded into executers classpath"
Hi

I'm having an issue while loading maven packages dependencies, while using SparkMagic and this helm chart for livy and spark in k8s.

In spark config I set the config:
spark.jars.packages=org.apache.spark:spark-sql-kafka-0-10_2.12:3.0.1

the dependencies downloaded into /root/.ivy2/jars but dosn't included into spark classpath and when trying to execute action I'm getting the following error:

[2021-01-06 08:28] Minutis commented on #51
I think this is fixed in https://github.com/JahstreetOrg/spark-on-kubernetes-helm/pull/52 (2.0.1 chart version).

[2021-01-18 08:05] jahstreet commented on #59
Hi @BenMizrahiPlarium , one question to clarify your setup: do you configure `spark.jars.packages` in code through `SparkConf` ? Or how do you do that?

[2021-01-18 08:22] BenMizrahiPlarium commented on #59
Hi @jahstreet,

I did the setup using the config section in Livy create session request - in other use cases I think that the jar artifacts downloaded from maven is shared via HDFS and available in the driver and worker - in this usecase it’s only available in the driver maven local repository.

I see that the artifacts download- but doesn’t available in the executers classpath

If you have any id

[2021-01-18 19:00] brenoarosa commented on #59
Currently running in the same issue.
I'm trying the session parameters bellow (which works with spark2).
I can see in the driver log messages that the package is downloaded from maven but it's not passed to the executors.
[code]
The jar is also not uploaded to `spark.kubernetes.file.upload.path` (using a s3 bucket), but I don't know if this is the expected behavior.

Passing the http link to file

[2021-01-18 20:00] BenMizrahiPlarium commented on #59
I really think it’s because Spark has no shared file system between workers and driver.

As a workaround for now - I solve it using gsfuse by mounting google bucket in driver and workers and configure both maven local repository to point to this folder and add the folder to spark extra classpath.

so finally the bucket is mounted to /etc/google in both drivers and executers
maven jars points to /e

[2021-01-18 20:36] brenoarosa commented on #59
I understood from the [documentation](https://spark.apache.org/docs/3.0.1/running-on-kubernetes.html#dependency-management) that `spark.kubernetes.file.upload.path` should be used for sharing the files between driver and executors.
Indeed this works livy related jars.

I set mine `spark.kubernetes.file.upload.path` to `s3a://somosdigital-datascience/spark3/`
This is the livy logs when creating a n

[2021-01-18 20:45] BenMizrahiPlarium commented on #59
In don’t think that spark.kubernetes.file.upload.path is related to external maven dependencies- it’s related to the spark application jar uploaded to S3.

Spark downloading maven dependencies into local maven repository and using it in the class path.

as far as I see, jars are loaded into the driver and every work done by the driver is fully supported, but when the actual task being execute in o

[2021-03-03 07:07] idzikovsky opened #63 "Add licence"
Hey, can you please add some licence to this project and to JahstreetOrg/spark-on-kubernetes-docker.
I can't use this project because of policies in our company. Furthermore, its not clear if I can use it at all as it's not clear if its free to use. Seems like according to [default GitHub licence](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/licensing-a-repository)

[2021-03-09 03:41] cdesai1406 opened #64 "MountVolume.SetUp failed for volume for Livy driver pod"
Hello

when I install Livy helm chart and create a Livy driver pod, it failed in most volume set up.
I am getting this error even if ConfigMap already there
"MountVolume.SetUp failed for volume "spark-conf-volume" : configmap "livy-session-0-ee5a9e78150bb674-driver-conf-map" not found"

Thanks

[2021-05-08 12:07] manjiler opened #65 "Question: How to add livy chart as dependent chart"
First off - amazing work get this helm chart!!!

I tried specifying the dependencies
[code]

It does not work.
I might be doing something wrong here.

What is correct way to add livy chart as a dependencies?

[2021-05-09 10:41] manjiler commented on #65
For now I am manually copied helm chart for livy and added it under charts folder.
Let me if there is better way to do it.

[2021-05-14 08:37] jahstreet commented on #65
Hi @manjiler , thx for the feedback. Can you share the errors you observe?

[2021-05-14 08:47] jahstreet commented on #64
Hi, it is a known bug and it happens periodically. To fix it we need to fix Spark code or upgrade Livy to use the latest Spark version (haven't yet checked whether Spark maintainers have already fixed it). I hope to get to the upgrading somewhere this year, but unfortunately doesn't have enough time to maintain this project at the moment.

[2021-05-14 08:51] jahstreet commented on #63
Hi, I'll try to get to it somewhere this year, but unfortunately doesn't have enough time to constantly maintain this project. It is definitely free and I should reflect it in the licence.

[2021-05-14 09:15] manjiler commented on #65
After adding livy as dependency in Chart.yaml. Running helm dependency update, give the below error
`
Error: can't get a valid version for repositories livy. Try changing the version constraint in Chart.yaml
`

Sample Chart.yaml
[code]

[2021-05-30 14:52] swathidesai opened #68 "How to add extra files like keytabs to the livy pod"
Hi,
I am trying to add keytab files with the help of volumes to livy. But as I see the mount and volume definitions get overridden.
Is there any way to pass on extra files if required to livy pod?
In my case, I need to provide keytab files to access secure services.
Any input will be helpful.

Thanks & Regards,
Swathi Desai

[2021-08-03 15:30] hth1995 opened #69 "Run livy with customize docker image got the "Read-only file system" error"
Hi,
I tried to customize the spark image for Livy so that I clone the https://github.com/JahstreetOrg/spark-on-kubernetes-docker repo and build the images by order.

Spark
Livy-Spark
Livy
(I'm use Livy builder from sasnouskikh/livy-builder:0.3)

I can able to run the helm install with the customize livy image but when I create a batch, I got the Read-only file system error.
**/opt/entrypoint.sh: l

[2021-08-04 08:38] hth1995 commented on #69
I want to run the python file with a batch session. And the python file needs some extra lib, I tried to add the lib via API but it is not working. So that I tried to customize the Spark image.

Is Livy support adding the python lib via API?

[2021-08-05 02:08] #69 closed, assigned to nobody

[2021-08-23 19:23] jdcohen220 opened #70 "Question: Livy Scala Api"
What version of scala/spark do client applications need to use?
The image says Spark 3.0.1 but Livy api requires Scala 2.11 which only works with earlier versions of Spark.

I am getting a ClassNotFound error when trying to submit a job:
_00:20  WARN: [kryo] Unable to load class org.apache.livy.scalaapi.LivyScalaClient$$anon$1 with kryo's ClassLoader. Retrying with current..
21/08/23 19:14:12 INFO

[2021-08-29 10:10] thuybt opened #71 "exec: "curl": executable file not found in $PATH: unknown"
How can I config this with airflow for automation,
Furthermore, I have some issue with curl when exec post command

[2021-11-28 18:45] jainanuj07 opened #72 "How to read extra ranger conf file"
I am trying to set up a spark ranger plugin to put some rules. I am trying a submarine spark plugin like this --http://submarine.apache.org/docs/userDocs/submarine-security/spark-security/README

I am facing an issue that livy spark is not reading able to find and read these conf files. How can I read these extra conf files.

Please help with this.

[2022-01-04 09:04] PardhuMadipalli commented on #71
I am facing this issue too.

[2022-01-07 09:06] teplydat commented on #71
"Furthermore, I have some issue with curl when exec post command"
I have the same issue. So basically the example "Run Spark Job" (https://github.com/JahstreetOrg/spark-on-kubernetes-helm#run-spark-job) does not work.

I tried to install curl but I got errors like:
[code]
[code]

I already have problems to install curl in the first base image `sasnouskikh/spark:3.0.1_2.12-hadoop_3.2.0_cloud` someh

[2022-01-07 09:21] teplydat commented on #71
Okay, I found a workaround regarding that curl problem:
[code]
or permanent via Dockerfile:
[code]

[2022-01-07 09:47] lcmarques opened #73 "Add Delta Lake Support"
One of the things that it is really nice to have is the delta lake support (https://delta.io/) for Spark. It is wildly used right now (pushed by Databricks).
Is there any good way to start looking at it?

[2022-01-07 21:32] jahstreet commented on #73
Hi @lcmarques , soon I plan to get back to data engineering with Spark on a daily basis and plan to become more proactive in supporting the project. In the meantime, I 100% agree with your statement and will be glad to support any initiative around boosting the feature richness of the project. Do you have any specific use-case for it already? Will be glad to assist you along the investigations.

[2022-01-12 14:39] jahstreet commented on #71
Hi guys, sorry for the delayed responses...

Some time ago I've written about that in [Stackoverflow](https://stackoverflow.com/questions/58538296/scheduling-spark-jobs-running-on-kubernetes-via-airflow/58642330#58642330). Unless the new Airflow operators has been released since then it still should be actual info.

Thx for checking. Could you please suggest the PR with the fix? Would really appre

[2022-02-11 09:09] teplydat commented on #71
@jahstreet
Sorry for the delay. Here is the PR to fix it: https://github.com/JahstreetOrg/spark-on-kubernetes-docker/pull/19

[2022-02-15 00:10] Rustem opened #75 "Upgrade to Spark 3.2.0"
Hi @jahstreet how are you doing so far ? First of all thank you for your initiatives. This is awesome. What is the current status of the project ? We are considering to leverage your work for our analytics platforms. We are thinking to use spark distribution 3.2.0 and hadoop 3.2. What would be your suggestion in such case?

[2022-02-15 10:13] jahstreet commented on #75
Hi Rustem. Thank you for your feedback. I hope to get to the project in the coming month or 2 when would jump on the relevant data platform project as well ;)

Basically you can use the existing build as a reference and patch it accordingly. There might be some dependency conflicts in Livy package resolving which might be the most complex step.

[2022-03-03 15:48] lhoss commented on #71
I guess @teplydat meant  Spark 3.1.1.  Ourselves would also prefer to have a build using 3.1.1  (same version currently used in the spark k8s operator, we would like to integrate with @jahstreet 's Livy deployment)

[2022-03-22 16:11] Emmeral opened #77 "[QUESTION/BUG?] Problem with getting started guide"
I tried to follow the getting started guide in the README.md. But if I submit a batch job to Livy it ends up in the state `dead`. However, I can see in my cluster that the spark driver and executor pods are deployed. Also, according to their logs, they seem to perform all calculations successfully.

If I look at the logs of the livy pod, I get the following error:

[code]

It seems like livy can't

[2022-03-27 03:32] rrcic opened #78 "Modify the parameters of the SparkMagic config to connect jupyter notebook with the k8s cluster"
Hi. I'm confused that what should be filled in `url`
[code]
I have depolyed the livy chart on a kubernetes cluster(based on the ACK which is provided by AliCloud). And I have deployed jupyter notebook and sparkmagic on my laptop. Now I'm trying to connect the jupyter notebook with the kubernetes cluster. So I have to figure out how to modify the Spark magic config JSON.

[2022-04-11 16:40] KunfuPanda24 opened #79 "Is Spark cluster mode Supported ?"
can i deploy spark jobs in cluster mode??

[2022-04-22 13:56] jahstreet commented on #79
Yes.

[2022-05-02 12:57] RajatSablok opened #80 "Issues with load testing livy"
I am load testing (using locust) my livy server which is deployed on k8 pods using [this helm](https://github.com/JahstreetOrg/spark-on-kubernetes-helm/tree/master/charts/livy). I have tried testing with session recovery enabled on both zookeeper and filesystem. We also have basic auth enabled on our server using nginx ingress.

My config for session recovery looks like this:
[code]

These are som

[2022-05-02 12:59] KunfuPanda24 commented on #79
thanks @jahstreet

[2022-05-02 12:59] #79 closed, assigned to nobody

[2022-06-08 02:10] aegisx0828 commented on #77
Hello, I'm also using the project well,
What happens to the k8s environment version?

I am also experiencing the same issue.
Roughly checking, after k8s version 1.22, v1beta1 of k8s ingress api has been deprecated.

I wonder if there is any action going on for k8s 1.22 .

![스크린샷 2022-06-08 오전 11 09 40](https://user-images.githubusercontent.com/7587602/172516202-a5698ab3-f572-416f-a3a8-574

[2022-06-21 05:31] naru014 commented on #65
I know its too late to comment on this. The problem is with using v2.0.2 I think.
I am using it with "2.0.* " and the latest is 2.0.1 I think as thats the version I see getting used in my cluster.

[2022-09-15 16:37] imperio-wxm commented on #77
Is there any progress? k8s version 1.22+, this api has been deprecated.

[2022-10-06 06:44] rangnar14 commented on #51
@jahstreet  Currently the latest changes in your repo for customized livy along with the helm charts were working for me with k8 version 1.21 on EKS.
But now we upgraded to 1.22 which broke the setup since, the API version for ingress has changed. Can you please provide guidance here on the patch I could do?
In parallel I am also exploring on the required changes.

[2022-10-20 07:41] jahstreet commented on #63
Hi @idzikovsky , getting back to the project. Added the license. Please let me know if I can do anything else for you.

[2022-10-20 07:41] #63 closed, assigned to nobody

[2022-10-20 07:47] jahstreet commented on #55
Hi @KamalGalrani , is that issue fixed for you?

[2022-10-20 07:48] jahstreet commented on #53
Hi @salinaaaaaa , is that issue fixed for you?

[2022-10-20 07:49] jahstreet opened #82 "Upgrade project repos to support the latest Spark and Kubernetes versions"
In the scope of this issue all the artifacts of the project will be upgraded to the latest stable versions.

[2022-10-20 07:51] jahstreet commented on #77
Closing this issue in favour of https://github.com/JahstreetOrg/spark-on-kubernetes-helm/issues/82 within which it will be resolved, lets continue there.

And thanks for the patience 🙏 .

[2022-10-20 07:51] #77 closed, assigned to nobody

[2022-10-20 07:51] jahstreet commented on #75
Closing this issue in favour of https://github.com/JahstreetOrg/spark-on-kubernetes-helm/issues/82 within which it will be resolved, lets continue there.

And thanks for the patience 🙏 .

[2022-10-20 07:51] #75 closed, assigned to nobody

[2022-10-20 07:53] jahstreet commented on #40
Closing due to inactivity, @huangwei0413 please let me know if I can help you with anything else 🙏 .

[2022-10-20 07:53] #40 closed, assigned to nobody

[2022-10-20 07:54] jahstreet commented on #51
Closing this issue in favour of https://github.com/JahstreetOrg/spark-on-kubernetes-helm/issues/82 within which it will be resolved, lets continue there.

And thanks for the patience 🙏 .

[2022-10-20 07:54] #51 closed, assigned to nobody

[2022-10-20 07:54] jahstreet commented on #65
Closing this issue in favour of https://github.com/JahstreetOrg/spark-on-kubernetes-helm/issues/82 within which it (and similar to it) should be resolved, lets continue there.

And thanks for the patience 🙏 .

[2022-10-20 07:54] #65 closed, assigned to nobody

[2022-10-20 07:56] jahstreet commented on #70
Hi @jdcohen220 , sorry for the late reply, getting back to this project only now 🙏 .

Is it still an issue for you? Happy to guide you through the resolution in case you provide me the details on reproducing it.